{% load static%}
{% block content %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">




  <title>{% block title %}Profile Dana{% endblock %}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">

  <script src="{% static 'js/main.js' %}"></script>




  </head>
  <body class = "red">
    <nav class="navbar"">
          <p style ="font-family : Yeon Sung; font-size : 40px; font-weight : Bold">FPRADANA3</p>
          <div class="flex-left py-2 ml-auto">
              <label class='switch mr-3'>
                <input type='checkbox' id="toggle">
                <span class="slider round"></span>
              </label>
              <p class="mb-2 text-12">Change Theme</p>
          </div>
      </nav>

      <section class="container">
        <div class="row">
           <div class="col-sm-4">
        <div class="mb-5 mx-5 py-2 flex-center-col" sytle ="text-align: center;">
                <img src="{% static 'img/Foto.jpg' %}" alt="me" sytle = "text-align: center;" id="profil">
                <p style="font-family : Yeon Sung;text-align: center;font-size : 30px; font-weight: Bold; margin: 20px;">Fauzan Pradana Linggih</p>
            </div>
            </div>

             <div class="col-sm-8">
            <div class="accordion">
                  <div>
                      <p class="title text-light ac-i bg-dark">Activities</p>
                      <div class="konten">
                            <ul>
                                <li>Studying</li>
                                <li>Gaming</li>
                                <li>Writing</li>
                                <li>Singing</li>
                                <li>Making Videos</li>
                            </ul>
                        </div>
                  </div>

                    <div>
                        <p class="title text-light ac-i bg-dark">Organizations & Committees</p>
                        <div class="konten">
                            <ul>
                                <li>Delta Voice</li>
                                <li>Kelompok Ilmiah Remaja Delta</li>
                                <li>Staff Seminar COMPFEST 11</li>
                                <li>Staff LO Open House Fasilkom 2019</li>
                                <li>BEM Fasilkom UI 2019</li>
                                <li>Himaster 2018</li>
                                <li>Voca Erudita</li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <p class="title text-light ac-i bg-dark">Achievement</p>
                        <div class="konten">
                            <ul>
                                <li>Juara 1 Nasional Paduan Suara NFF UI</li>
                                <li>Juara 1 Provinsi Paduan Suara Festival UMB</li>
                                <li>Juara 1 Kota Paduan Suara Festival Al-Azhar BSD</li>
                                <li>Juara 2 Short Movie</li>
                                <li>Juara 1 Essay Resolusi Untuk Negeri</li>
                            </ul>
                        </div>

                </div>
              </div>
              </div>
              </div>

      </section>

  </body>
</html>
{% endblock %}
